<h1 style="text-align:center">Destinacija</h1>
   <div class="container mat-elevation-z8">
  
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
  
    <mat-table #table [dataSource]="dataSource" class="mat-cell" matSort>
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <!-- ID Column -->
      <ng-container matColumnDef="DestinacijaID">
        <mat-header-cell *matHeaderCellDef mat-sort-header>DestinacijaID</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.DestinacijaID}}</mat-cell>
      </ng-container>
   
      <ng-container matColumnDef="NazivAerodroma">
        <mat-header-cell *matHeaderCellDef mat-sort-header>NazivAerodroma</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.NazivAerodroma}}</mat-cell>
      </ng-container>
   
      <ng-container matColumnDef="Grad">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Grad</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Grad}}</mat-cell>
      </ng-container>

      
   
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="openDialog(1,-1,'','')">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
   
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="primary" (click)="openDialog(2, row.DestinacijaID, row.NazivAerodroma, row.Grad)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDialog(3, row.DestinacijaID, row.NazivAerodroma, row.Grad)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
   
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  
   </div>